<!doctype html>
<html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>My Missionary Box</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

    <!-- Favicon rels -->
    <%= favicon_link_tag 'favicon/favicon.ico' %>
    <!-- End Favicon rels -->

  </head>
  <body>
    
    <div class="wrapperxx">
        <%= render partial: 'spree/shared/head' %>
        <%= render partial: 'spree/shared/header' %>

        <%#= breadcrumbs(@taxon) %>

        <%= alerts %>
        <%= yield %>
      </div>
        <%= yield :templates %>
    <div class="push"></div>
      <%= render partial: 'spree/shared/footer_custom' %>

    
  </body>

</html>