<!doctype html>
<html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>My Missionary Box</title>
    <meta name="p:domain_verify" content="bef3c28bb8074ae39c28262b4200ff0e"/>
    <meta property="og:url"         content="http://www.mymissionarybox.com" />
    <meta property="og:type"        content="website" />
    <meta property="og:title"       content="My Missionary Box" />
    <meta property="og:description" content="Keep your missionary looking sharp! We hand package and deliver an assortment of stylish clothing options and send them directly to your loved one." />
    <meta property="og:image"       content="https://s3.amazonaws.com/missionaryboxbucket/spree/images/logo.png" />
    <meta property="og:app_id"      content="403454033403064" />

    <!-- Favicon rels -->
    <%= favicon_link_tag 'favicon/favicon.ico' %>
    <!-- End Favicon rels -->

  </head>
  <body>
    
    <div class="wrapperxx">
        <%= render partial: 'spree/shared/head' %>
        <%= render partial: 'spree/shared/header' %>

        <%#= breadcrumbs(@taxon) %>

        <%= alerts %>
        <%= yield %>
      </div>
        <%= yield :templates %>
    <div class="push"></div>
      <%= render partial: 'spree/shared/footer_custom' %>
  </body>
</html>