<div class="container login-card-margin">
  <h2 class="text-white text-center dark-grey-background">
    <div class="my-account-padding">
      <%= accurate_title %>
    </div>
  </h2>

  <br>
  <div data-hook="account_summary" class="account-summary">
    <dl id="user-info">
      <div class="row text-white">
        <div class="col-4"></div>
        <div class="col-2">
          Contact <%= Spree.t(:email) %>: 
        </div>
        <div class="col-4">
          <%= @user.email %> (<%= link_to Spree.t(:edit), spree.edit_account_path %>)
        </div>
        <div class="col-2"></div>
      </div>
      <br>

      <div class="row text-white justify-content-center">
        <div class="col-3">
          <h4 class="text-center">Billing Address</h4>
          <hr>
            <div><%= @user.bill_address.firstname %> <%= @user.bill_address.lastname %></div>
            <div><%= @user.bill_address.address1 %></div>
            <div><%= @user.bill_address.address2 %></div>
            <div><%= @user.bill_address.city %> <%= @user.bill_address.state.abbr %>, <%= @user.bill_address.zipcode %></div>
        </div>

        <div class="col-2"></div>

        <div class="col-3">
          <h4 class="text-center">Shipping Address</h4>
          <hr>
            <div><%= @user.ship_address.firstname %> <%= @user.bill_address.lastname %></div>
            <div><%= @user.ship_address.address1 %></div>
            <div><%= @user.ship_address.address2 %></div>
            <div><%= @user.ship_address.city %> <%= @user.bill_address.state.abbr %>, <%= @user.bill_address.zipcode %></div>
        </div>

      </div>
    </dl>
  </div>

  <div data-hook="account_my_orders" class="account-my-orders">

    <h4 class="text-center dark-grey-background">
      <div class="my-account-padding">
        <%= Spree.t(:my_orders) %>
      </div>
    </h4>
    <% if @orders.present? %>
      <table class="table order-summary">
        <thead>
        <tr class="light-grey-background">
          <th class="order-number"><%= Spree::Order.human_attribute_name(:number) %></th>
          <th class="order-date"><%= Spree.t(:date) %></th>
          <th class="order-status"><%= Spree.t(:status) %></th>
          <th class="order-payment-state"><%= Spree.t(:payment_state) %></th>
          <th class="order-shipment-state"><%= Spree.t(:shipment_state) %></th>
          <th class="order-total"><%= Spree.t(:total) %></th>
        </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <tr class="font-size-12">
            <td class="order-number"><%= link_to order.number, order_url(order) %></td>
            <td class="order-date"><%= l order.completed_at.to_date %></td>
            <td class="order-status"><%= Spree.t("order_state.#{order.state}").titleize %></td>
            <td class="order-payment-state"><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>
            <td class="order-shipment-state"><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
            <td class="blue-text"><%= order.display_total %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-info"><%= Spree.t(:you_have_no_orders_yet) %></div>
    <% end %>
    <br />
  </div>
</div>