<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><%= Spree.t(:subscription_summary) %></h3>
  </div>

  <table class="table table-condensed table-bordered" id="subscription_tab_summary" data-hook>
    <tbody class="additional-info">
      <tr>
        <td><strong><%= Spree.t(:customer_email) %></strong></td>
        <td><span><%= @subscription.parent_order.email %></span></td>
      </tr>
      <tr>
        <td  width="35%" data-hook>
          <strong><%= Spree.t(:original_order) %></strong>
        </td>
        <td>
          <span>
            <%= link_to @subscription.parent_order.number, order_url(@subscription.parent_order) %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Next Subscription</strong>
        </td>
        <td id="next_occurrence_at">
          <%= @subscription.next_occurrence_at.to_date %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Subscription Length</strong>
        </td>
        <td>
          <%= @subscription.delivery_number %> Months
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= Spree.t(:prior_notification_days_gap) %></strong>
        </td>
        <td>
          <%= @subscription.prior_notification_days_gap %>
        </td>
      </tr>
      <tr>
        <td><strong><%= Spree.t(:deliveries_left) %></strong></td>
        <td><%= @subscription.number_of_deliveries_left %></td>
      </tr>
      <% if @subscription.cancelled? %>
        <tr id="cancellation_fields">
          <td>
            <strong><%= Spree.t(:cancelled_at) %></strong>
          </td>
          <td>
            <span><%= @subscription.cancelled_at.to_formatted_s(:long) %></span>
          </td>
        </tr>
        <tr>
          <td>
            <strong><%= Spree.t(:cancellation_reasons) %></strong>
          </td>
          <td>
            <span><%= @subscription.cancellation_reasons.html_safe %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
